{
    "dev": false,
    "headless": true,
    "health": false,
    "pool": {
        "idleTimeoutMillis": 3000,
        "max": 3,
        "min": 1,
        "process": 1
    },
    "port": 3000,
    "postLimit": "100mb"
}