:root {
    --dark: #343a40;
    --primary: #276daa;
    --secondary: #00acc7;
    --spacer: 8px;
}

html {
    color: var(--dark);
    font-family: Sans-Serif;
    font-size: 0.9rem;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1 {
    margin: var(--spacer) 0 0 0;
    color: var(--secondary);
    font-size: 1.5rem;
    font-weight: 600;
}

h2 {
    color: var(--primary);
    font-size: 1.2rem;
    margin-top: 1rem;
}

h3 {
    color: var(--dark);
    font-size: 1.1rem;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}

.filters,
.logo,
.order,
.variables {
    margin-bottom: calc(var(--spacer) * 3);
}

.filter-line,
.order-line,
.variable-line {
    display: flex;
}


.filter-line .name,
.order-line .name,
.variable-line .name {
    font-weight: bold;
    width: 300px;
}

.variable-line .name {
    font-weight: 500;
}


.filter-line .name {
    text-transform: capitalize;
}

.variable-line .name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-line .value,
.variable-line .value {
    color: var(--primary);
    font-weight: bold;
}
